@font-face {
	font-family: 'eb_garamondregular';
	src: url('../fonts/ebgaramond-regular-webfont.woff2') format('woff2'),
		url('../fonts/ebgaramond-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserratlight';
	src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
		url('../fonts/montserrat-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
